Source: foo
Section: admin
Priority: optional
Maintainer: Raul Rodrigo Segura <raurodse@gmail.com>
Build-Depends: debhelper-compat (= 12),puturru
Standards-Version: 4.4.1
#Vcs-Browser: https://salsa.debian.org/debian/foo
#Vcs-Git: https://salsa.debian.org/debian/foo.git

Package: foo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: foo 
 foo long description 
